addict
diffusers
gradio
huggingface_hub
haystack-ai==2.29.0
imageio[ffmpeg]
jupytext
numpy
Pillow
PyYAML
requests
setuptools
supervision
termcolor
torch>=2.0.0
torchvision
transformers>=4.26.0
yapf
scipy
easydict
toml
tensorboardX
timm
scikit-image
opencv-python
pycocotools
matplotlib
